<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
    <!-- 부트스트랩 css 사용 -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--  부트스트랩 js 사용 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/04763e3baa.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="pt-2 pb-1 mb-5 text-center bg-dark">
        <h6><a class="a-menu" href="/"><i class="fa-solid fa-house"></i> HOME</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a class="a-menu" href="/articles"><i class="fa-solid fa-calendar-days"></i> CALENDAR</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a class="a-menu" href="/"><i class="fa-solid fa-list"></i> TO DO LIST</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a class="a-menu" href="/articles"><i class="fa-solid fa-book"></i> MEMO</a></h6>
    </div>

    <div class="container">
        <button type="button" id="create-btn"
                th:onclick="|location.href='@{/new-article}'|"
                class="btn btn-lg btn-secondary">글 등록</button>
        <br>
        <div class="row" th:each="item : ${articles}">
            <div class="card" th:onclick="|location.href='@{/articles/{id}(id=${item.id})}'|">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.content}"></h5>
                    <p class="card-text" style="text-align: right" th:text="${#temporals.format(item.createdAt, 'YYYY-MM-dd HH:mm')}"></p>
                </div>
            </div>
            <br>
        </div>
        <br><br>

        <button type="button" class="btn btn-lg btn-secondary" onclick="location.href='/logout'">로그아웃</button>
    </div>

    <script src="/js/token.js"></script>
    <script src="/js/article.js"></script>
    <script>
        $(function() {
            $("#header").load("header.html");
        });
    </script>
</body>
