<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>블로그 글</title>
  <!-- 부트스트랩 css 사용 -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!--  부트스트랩 js 사용 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/04763e3baa.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="pt-2 pb-1 mb-5 text-center bg-dark">
  <h6><a class="a-menu" href="/"><i class="fa-solid fa-house"></i> HOME</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a class="a-menu" href="/articles"><i class="fa-solid fa-calendar-days"></i> CALENDAR</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a class="a-menu" href="/"><i class="fa-solid fa-list"></i> TO DO LIST</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a class="a-menu" href="/articles"><i class="fa-solid fa-book"></i> MEMO</a></h6>
</div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <article>
          <input type="hidden" id="article-id" th:value="${article.id}">
          <header class="mb-4">
            <h1 class="fw-bolder mb-1" th:text="${article.title}"></h1>
            <div class="text-muted fst-italic mb-2" th:text="|Posted on ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')} By ${article.author}|"></div>
          </header>
          <section class="mb-5">
            <p class="fs-5 mb-4" th:text="${article.content}"></p>
          </section>
          <button type="button" id="modify-btn"
                  th:onclick="|location.href='@{/new-article?id={articleId}(articleId=${article.id})}'|"
                  class="btn btn-secondary">수정</button>
          <button type="button" id="delete-btn"
                  class="btn btn-secondary">삭제</button>
        </article>
      </div>
    </div>
  </div>

  <script src="/js/article.js"></script>
</body>
