<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MUZIMUZI</title>
  <!-- 부트스트랩 css 사용 -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!--  부트스트랩 js 사용 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/04763e3baa.js" crossorigin="anonymous"></script>
  <style>
    td {
      height: 10px;
    }
  </style>
</head>
<body>
<div th:include="header :: header-content"></div>

<div class="container">
  <div class="container text-center pb-2 fw-bold">
    <button class="btn btn-sm btn-secondary" id="prevMonth">◀</button>
    <span th:text="${currentMonth}"></span>
    <button class="btn btn-sm btn-secondary" id="nextMonth">▶</button>
  </div>
  <div style="display: flex; padding: 20px;">
    <div class="table-container align-items-center" style="flex: 1;">
      <table class="table">
        <thead>
          <tr>
            <th style="color: indianred">일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th style="color: #0a53be">토</th>
          </tr>
        </thead>
        <tr th:each="week : ${calendar}">
          <td style="text-align: left" th:each="day : ${week}" th:onclick="">
            <a th:if="${day != null}" th:utext="${day + ' <br>'}"></a>
          </td>
        </tr>
        </tbody>
      </table>

      <script th:inline="javascript">
        var prevMonthUrl = /*[[@{/calendar/{prevMonth}(prevMonth=${prevMonth})}]]*/ '';
        var nextMonthUrl = /*[[@{/calendar/{nextMonth}(nextMonth=${nextMonth})}]]*/ '';
      </script>

      <script>
        document.getElementById("prevMonth").addEventListener("click", function() {
          window.location.href = prevMonthUrl;
        });

        document.getElementById("nextMonth").addEventListener("click", function() {
          window.location.href = nextMonthUrl;
        });
      </script>
    </div>

    <div class="table-container align-items-center" style="flex: 1; padding: 20px;">
      <input type="hidden" id="article-id">
      <input type="text" class="form-control" placeholder="제목" id="title">
      <input type="datetime-local" class="form-control" id="startDate">~
      <input type="datetime-local" class="form-control" id="endDate">

      <textarea class="form-control h-25" rows="10" placeholder="내용" id="content"></textarea>
      <button type="button" id="create-btn" class="btn btn-secondary">등록</button>

    </div>
  </div>


</div>
<div th:include="footer :: footer-content"></div>
<script src="/js/token.js"></script>
</body>
