<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer-content">
    <meta charset="UTF-8">
    <title>Head Content</title>
    <br><br><br><br><br>
<!--    <div class="pt-5 pb-0 text-center bg-dark fixed-bottom"></div>-->
    <!-- 부트스트랩 css 사용 -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--  부트스트랩 js 사용 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/04763e3baa.js" crossorigin="anonymous"></script>
</footer>
</html>