<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header-content">
    <meta charset="UTF-8">
    <title>Head Content</title>
    <div class="pt-2 pb-1 mb-5 text-center bg-dark fixed-top">
        <h6><a class="a-menu" href="/"><i class="fa-solid fa-house"></i> HOME</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a class="a-menu" href="/calendar"><i class="fa-solid fa-calendar-days"></i> CALENDAR</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a class="a-menu" ><i class="fa-solid fa-list"></i> TO DO LIST</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a class="a-menu" href="/articles"><i class="fa-solid fa-book"></i> MEMO</a></h6>
    </div>
    <br><br><br><br><br>
    <!-- 부트스트랩 css 사용 -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--  부트스트랩 js 사용 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/04763e3baa.js" crossorigin="anonymous"></script>
</header>
</html>