<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>블로그 글</title>
  <!-- 부트스트랩 css 사용 -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!--  부트스트랩 js 사용 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>
<div class="p-3 mb-3 text-center bg-dark">
  <h5 >HOME   MEMO  </h5>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <article>
        <input type="hidden" id="article-id" th:value="${article.id}">

        <header class="mb-4">
          <input type="text" class="form-control" placeholder="제목" id="title" th:value="${article.title}">
        </header>
        <section class="mb-5">
          <textarea class="form-control h-25" rows="10" placeholder="내용" id="content" th:text="${article.content}"></textarea>
        </section>
        <button th:if="${article.id} != null" type="button" id="modify-btn" class="btn btn-secondary">수정</button>
        <button th:if="${article.id} == null" type="button" id="create-btn" class="btn btn-secondary">등록</button>
      </article>
    </div>
  </div>
</div>

<script src="/js/article.js"></script>
</body>
